%section
  %h2 Path to enlightenment

%section 
  %h2 vimtutor
  
  Complete multiple times until comfortable

%section
  %section
    %h2 Learn <code>hjkl</code>
    .fragment Don't use the arrow keys
    .float-right.fragment vim-adventures
