%section
  %h2 Path to enlightenment

%section 
  %h2 vimtutor
  
  Complete multiple times until comfortable

%section
  Learn how to use the manual
  %pre
    %code
      :plain
        :help
  
  .fragment
    %p To jump to a tag's subject <code class='hljs'>CTRL-]</code>

    %p To jump back use <code class='hljs'>CTRL-O</code>
%section

  %section
    %h2 Learn <code>hjkl</code>
    Don't use the arrow keys

  %section
    <img src="./images/commodore64.jpg">

  %section
    %a(href="https://vim-adventures.com/") vim-adventures.com
    %img(src="./images/vim_adventures.png")

    %aside.notes If you need more practice using hjkl- requires license past level1
%section
  %section
    Get and study the cheat sheets
    %a(href='https://github.com/sfairchild/vim-intro/tree/master/cheatsheets') https://github.com/sfairchild/vim-intro
  %section
    %img(src="./images/movements.png")

  %section
    %a(href="http://www.viemu.com/a_vi_vim_graphical_cheat_sheet_tutorial.html") http://www.viemu.com
    %img(src="./images/keyboard-cheat.gif" style='width: 85%;')

    %aside.notes 7 lessons to practice basic functions

  %section
    %img(src="./images/vim-cheatsheet.jpg" style='width: 85%;')

%section
  %h1 TIPS
  %section

  %section
    Change the way you think of editing text
  %section
    VIM in a modal editor
  %section
    Spend minimum amount of time in insert mode
  %section
    Don't repeat yourself

    .fragment Learn about the <code class="hljs">.</code> command
  %section
    Learn how buffers work
  %section
    Use <code class="hljs">marks</code>

    .fragment
      %div Set a mark with <code class="hljs">mx</code>

      %div <code class='hljs'>x</code> being and character a-z or A-Z


